@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body {
    font-family: 'Roboto', sans-serif;
}

header {
    margin-top: 10px;
    margin-bottom: 10px;
}

header a {
    color: #666;
    text-transform: uppercase;
}

header a:hover {
    color: #FE980F !important;
}

